<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

     <title>Home</title>
</head>
<body>
    {% if blogs %}
    <ul>
        {% for blog in blogs %}
        <div>
        <li>Title: {{ blog.title }}</li>
        <li>Author: {{ blog.author }}</li>
        <li>Content: {{ blog.content }}</li>
            </div>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <p>No blogs found.</p>
    {% endif %}
</body>
</html>
